# DS-SF-27 | Unit Project 4: Notebook with Executive Summary

In this project, you will summarize and present your analysis from Unit Projects 1-3.

> ## Question 1.  Introduction
> Write a problem statement for this project.

Answer: Using data from the UCLA admissions dataset, figure out if there is an association between admission into UCLA and the prestige of a student's previous school.

> ## Question 2.  Dataset
> Write up a description of your data and any cleaning that was completed.

Answer:There are 2 categorical variables (admitted, 1 or 0, and prestige, 1-4) and 2 continuous variables (gre 200-800, and gpa 0-4)

> ## Question 3.  Demo
> Provide a table that explains the data by admission status.

In [1]:
import os

import numpy as np
import pandas as pd
pd.set_option('display.max_rows', 10)
pd.set_option('display.max_columns', 10)
pd.set_option('display.notebook_repr_html', True)

import statsmodels.formula.api as smf

from sklearn import linear_model

df = pd.read_csv(os.path.join('..', '..', 'dataset', 'ucla-admissions.csv'))
df.dropna(inplace = True)

df

     admit    gre   gpa  prestige
0        0  380.0  3.61       3.0
1        1  660.0  3.67       3.0
2        1  800.0  4.00       1.0
3        1  640.0  3.19       4.0
4        0  520.0  2.93       4.0
..     ...    ...   ...       ...
395      0  620.0  4.00       2.0
396      0  560.0  3.04       3.0
397      0  460.0  2.63       2.0
398      0  700.0  3.65       2.0
399      0  600.0  3.89       3.0

[397 rows x 4 columns]

In [2]:
pd.crosstab(df.prestige, df.admit)

admit      0   1
prestige
1.0       28  33
2.0       95  53
3.0       93  28
4.0       55  12

In [3]:
df.gre.mean()

587.8589420654912

In [4]:
df.gpa.mean()

3.3922418136020167

In [8]:
print 'gre mean and standard deviation for admitted students:'
print df[['gre', 'gpa']][df['admit'] == 1].mean()
print df[['gre', 'gpa']][df['admit']==1].std()

gre mean and standard deviation for admitted students:
gre    618.571429
gpa      3.489206
dtype: float64
gre    109.257233
gpa      0.371655
dtype: float64

In [10]:
print 'gre mean and standard deviation for not admitted students:'
print df[['gre', 'gpa']][df['admit'] == 0].mean()
print df[['gre', 'gpa']][df['admit']==0].std()

gre mean and standard deviation for not admitted students:
gre    573.579336
gpa      3.347159
dtype: float64
gre    116.052798
gpa      0.376355
dtype: float64

> ## Question 4. Methods
> Write up the methods used in your analysis.

1. Check for missing data and remove observations.
2. Check for colinearity.
3. Check for normal distribution.
4. Perform exploratory data analysis.
5. Use best model to make predictions on admission status based on the features.

> ## Question 5. Results
> Write up your results.

Answer: We found that a logistic regression model fit the data well and could predict admission status for an applicant based on the features available.

> ## Question 6. Visuals
> Provide a table or visualization of these results.

Answer:

> ## Question 7.  Discussion
> Write up your discussion and future steps.

Answer: Our model could predict chances of a student being admiited based on his or her gpa, gre, and prestige. For example a student with a GRE of 800 and a GPA of 4 has a higher change of being admitted if she comes from a tier-1 school. The tier-1 student has a 71% probability of being admitted; the the lower tiers, the probabilities decrease to 57%, 41%, and 34% respectively.